.select-option-filter{
  flex-flow: row nowrap;
    width: 100%;
    display: flex;
}

.botton-filter-container{
  align-self: center;
  flex-grow: 10;
}

.title-filter-container{
  flex-grow: 1;
}


.filter-body{
  display: flex;
    flex-flow: column nowrap;
}


.checkbox-select-group-on{
display: block;
}


.checkbox-select-group-off{
display: none;
}

#root{
  display: flex;
    justify-content: center;
}

.checkbox-select-group{
  display: flex;
    justify-content: space-between;
    border: 1px solid;
}

input, button, label{
  align-self:center;
  padding: 7px;
}

.list{
  border:1px solid;
  margin: 0px;
  list-style-type: none;
}

.sub-filter-container{
  display: flex;
    flex-flow: column nowrap;
}

.list-without-group{
  list-style-type: none;
}

.filter-results{
  display: flex;
  flex-flow: column wrap;
}